

// Add a little more separation between the selected item and the text from the v-bottom-navigation
.bottom-bar {
  .v-bottom-navigation__content {
   .v-btn.v-btn--active {
     .v-btn__content {
       gap: 3px;
     }
   }
  }
 }


// Scrollbar styles
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: hsl(239, 97%, 30%);
  &:hover {
    border-radius: 4px;
    background: hsl(239, 97%, 24%);
  }
}

::-webkit-scrollbar-track {
  background: hsla(228, 77%, 43%, 0.829);
  &:hover {
    background: hsla(197, 81%, 22%, 0.897);
  }
}

// Fix these first rendering with a lower width
.v-toolbar, .v-bottom-navigation {
  width: 100%;
}

// Transitions -->

// Scroll-Y
.scroll-y-enter-active {
  transition: all 0.15s ease-out;
}
.scroll-y-leave-active {
  transition: all 0.15s ease-in;
}
.scroll-y-enter-from {
  opacity: 0;
  transform: translateY(-8px);
}
.scroll-y-leave-to {
  opacity: 0;
  transform: translateY(8px);
}
