


// Scrollbar styles
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: hsl(239, 97%, 30%);
  &:hover {
    border-radius: 4px;
    background: hsl(239, 97%, 24%);
  }
}

::-webkit-scrollbar-track {
  background: hsla(228, 77%, 43%, 0.829);
  &:hover {
    background: hsla(197, 81%, 22%, 0.897);
  }
}